<!DOCTYPE html>
<head>
  <title> Login </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <h1> </h1>
  <div class="content container">
            <a href="{% url 'UserFormView' %}" class="top-menu"><span class=""></span></a>
            <h1> </h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
              <form method="POST" class="post-form">{% csrf_token %}
                 {{ form.as_p }}
                 <button type="submit" class="save btn btn-default" name="redirect" value="home/templates/index.html">Save</button>
              </form>
                    {% endblock %}

                </div>
            </div>
            <div>
            <h3> If not registered <a href="/register/"> Register</a> </h3>
            </div>
        </div>
</body>
