<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ask me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Ask Me</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
     </a>
      </li>
      <li><a href="/ask/"> Ask a question </a></li>
      <li><a href="/profile/"> Profile </a></li>
      <li><a href="/Notifications/"> <span class="glyphicon glyphicon-globe"></span> Notifications </a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<div class = 'col-sm-6 col-sm-offset-3'>
<form method='GET' action = ''>
<input type = 'text' name = 'query' placeholder = 'Search posts' value='{{request.GET.query}}' />
<input type = 'submit' value = 'Search' />
</form>
<p> <br/> </p>
<hr/>
{% for post in posts%}
      <h4> <a href = "details/{{post.id}}" > {{post.title}}</a> </h4>
      <h4> Author:  {{post.author}} </h4>
      <h5> {{post.text}}</h5> 
      <hr>
  {%endfor%}
</div>
  
<div class="container">
  

</div>

</body>
</html>
