<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ask me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Ask Me</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
     </a>
      </li>
      <li><a href="/ask/"> Ask a question </a></li>
      <li><a href="/profile/"> Profile </a></li>
      <li><a href="/Notifications/"> <span class="glyphicon glyphicon-globe"></span> Notifications </a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

    </ul>
  </div>
</nav>
  
  
   
        <div class="content container">
            <a href="{% url 'PostView' %}" class="top-menu"><span class=""></span></a>
            <h1> New Post</h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
    					<form method="POST" class="post-form">{% csrf_token %}
       					 {{ form.as_p }}
       					 <button type="submit" class="save btn btn-default">Save</button>
    					</form>
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>

</html>
